
# Visual Studio cache
.vs/

# Visual Studio user-specific files
*.user
*.suo
*.vcxproj.user

# Build output
[Oo]utput/
[Oo]utput/**

# Intermediate and compiler files
*.obj
*.pch
*.ipch
*.iobj
*.idb
*.pdb
*.ilk
*.res
*.tlog/
*.log

# Optional: ignore generated config in Output folder
Output/config.ini
